kind: Deployment
apiVersion: apps/v1
metadata: 
  name: backend-blue
  namespace: expense
  labels:
    app: backend
    tier: backend
    project: expense
    version: blue
spec:
  replicas: 1
  selector:
     matchLabels: 
       app: backend
       tier: backend
       project: expense
       version: blue
  template:
    metadata:
      labels:
        app: backend
        tier: backend
        project: expense
        version: blue
    spec: 
      containers:
      - name: backend
        image: sudhanaga1002/backend:3.0.0
        envFrom:
        - configMapRef:
            name: backend
         
